#root {
    font-family: 'Martian Mono', monospace;
}

.main-login-wrapper {
    background-image: url('images/board.png');
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* Main container */

.main {
    min-width: 95%;
}


/* NAVBAR */
.nav-link {
    color: black !important;
    font-size: medium;
}

.nav-link:hover {
    color: #013D29 !important;
}

.navbar-brand {
    color: #013D29 !important;
}

.dropdown-item:hover,
.navbar-search-btn:hover {
    background-color: #013D29 !important;
    color: #fff;
}

/* ACCOUNT */

.user_account {
    width: 60vw;
    height: 100vh;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgb(240, 234, 234);
    box-shadow: 2px 2px 0.8 #fff;
    overflow: hidden;
}

.background {
    height: 15%;
    background: rgb(34, 193, 195);
    background: linear-gradient(251deg, rgba(34, 193, 195, 1) 0%, rgba(1, 61, 41, 1) 30%);
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline-style: solid;
    outline-color: #fff;
    outline-width: 3px;
    position: relative;
    top: -50px;
    left: 30px;
    overflow: hidden;
}

.user-profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


@media screen and (max-width: 990px) {
    .profile-image {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 650px) {
    .profile-image {
        width: 100px;
        height: 100px;
    }

    .publicity-banner {
        height: 15vh;
    }
}

@media screen and (max-width: 450px) {
    .profile-image {
        width: 85px;
        height: 85px;
    }

    .email {
        font-size: smaller;
    }
}


/* Banner */
.publicity-banner {
    width: 100vw;
    height: 28vh;
    background-color: #013d29b7;
    margin: 0 0 15px 0;
}

.opta-image {
    width: 95%;
}

@media screen and (max-width: 650px) {
    .publicity-banner {
        height: 20vh;
    }
}

@media screen and (max-width: 450px) {
    .publicity-banner {
        height: 25vh;
    }
}

/* Product List */

.product-cards-list {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
