.main-login-wrapper {
    background-image: url('images/board.jpg');
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}