#root{
    font-family: 'Martian Mono', monospace;
}

.main-login-wrapper {
    background-image: url('images/board.png');
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.nav-link{
    color: black !important; 
}

.nav-link:hover{
    color:  #013D29 !important;
}

.navbar-brand{
    color: #013D29 !important;
}

.dropdown-item:hover, .navbar-search-btn:hover{
    background-color: #013D29 !important;
    color: #fff;
}


